name: CD pipeline
on:
  workflow_run:
    workflows: [CI Pipeline]
    types:
      - completed
jobs:
  Step_G:
    runs-on: self-hosted
    steps:
      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/deployment.yml
          kubectl apply -f k8s/service.yml
