name: CD pipeline
on:
  workflow_run:
    workflows: [CI Pipeline]
    types:
      - completed
jobs:
  deploy-to-minikube:
    runs-on: self-hosted
    steps:
      # Configure kubectl
      - name: Setup kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBECONFIG_CONTENT }}" > $HOME/.kube/config

      # Deploy to Kubernetes
      - name: Deploy to K8s
        run: |
          kubectl set image deployment/weather-ml-app weather-ml-app=${{ secrets.DOCKERHUB_USERNAME }}/weather-ml-app:latest
          kubectl rollout status deployment/weather-ml-app
