name: CI pipeline
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  B2F:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run integration tests
        run: |
          source venv/bin/activate
          export PYTHONPATH="$PYTHONPATH:$GITHUB_WORKSPACE"
          python tests/integration_test.py
          python tests/smoke_test.py
          python tests/unit_test.py
      - name: Build Docker image
        run: docker build -t weather-ml-app:ci-test .
      - name: Create container
        run: docker run --rm weather-ml-app:ci-test python --version
      - name: Login to Dockerhub
        run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password--stdin
      - name: Push Docker image
        run: |
          docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/weather-ml-app:v1
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/weather-ml-app:v1
